* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  background: #eff2f9;
  height: 100vh;
}
body {
  font-family: "Rubik", sans-serif;
}
.hero {
  width: 1440px;
  height: 1024px;
  background: #eff2f9;
}
.card {
  width: 1170px;
  height: 800px;
  box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
  background: #fff;
  padding: 60px 0 70px;
}

.preview {
  width: 80px;
  height: 80px;
  background-color: #fff;
}

.selected {
  box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);
  background: #fff;
}

.product-img-block {
  border-right: 2px solid rgba(20, 20, 20, 100);
  width: 540px;

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 0.01em;
  color: rgba(20, 20, 20, 20);
}
.subtitle {
  
}